{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class='row'>
            {% for obj in object_list %}
               <div class='col'>
                  {% include 'products/snippets/card.html' with instance=obj %} 
               </div>  
               <!-- <a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/> -->
            {% endfor%}
         </div>
   </div>
         {% endblock content %}
<!-- {{ qs }}
{% if qs %}
   ← Function Based View <br>
{% endif %} -->

<!-- {{ paginator }}
{{ is_paginated }}
{{ object_list }}<br> -->

<!-- {% for obj in object_list %}
<a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/> -->

<!-- {{ obj.title}} - {{ obj.description}} <br/> -->

<!-- {% endfor%} -->



